:root {
    --main-black: #000000;
    --main-white: #ffffff;
    --main-colour: #bf92ff;
    --hover-colour: #0026ff;

    --radius: 15px;
}

@keyframes flower {
    0% {
      transform: rotate(0deg);
    }
           
    100% {
      transform: rotate(360deg);
     }
 }

 ::selection {
    background: var(--main-colour);
  }

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: url("/mainImg/background.jpg") var(--main-black) fixed;
    background-size:cover;
    /* background-position: center; */
    color: var(--main-white);
}

a {
    text-decoration: none;
    color: var(--main-white);
}

p {
    position: relative;
    font-family: "Spline Sans Mono", sans-serif;
    margin: 0;

    font-size: 10pt;
    font-weight: 300;
    line-height: 19px;
}

ul {
    margin: 15px 15px 15px 20px;
    padding: 0;
    list-style-type: none;
}

.italic {
    font-style: italic;
}

.link {
    font-family: "Spline Sans Mono", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    text-transform: uppercase;

    cursor: pointer;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.link:hover {
    color: grey;
}

.current {
    color: var(--main-colour);
}

#main-div {
    z-index: 1;
    position: absolute;
    margin: 20px 0 0 5%;
    width: calc(100vw - 5%); 
    height: calc(100dvh - 20px); 

    display: grid;
    grid-template-columns: 60px auto 1fr 1fr 1fr;
    grid-template-rows: 50px auto auto 1fr auto;
}

/****** top-stuff ******/
/* navigation */
#header {
    position: relative;
    grid-column: span 2 / span 2;
    grid-column-start: 2;
    grid-row-start: 1;
    background-color: var(--main-black);
    width: 300px;
    height: 50px;
    border-radius: var(--radius) var(--radius) 0 0;
}

#nav-buttons {
    height: 60%;
    position: relative;
    padding: 25px 10px 0 10px; 

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

}

.small-nav {
    display: none;
    height: 100%;
    width: 100%; 
    position:relative;
    top: -28px;
    z-index: 4;
    padding: 0 30px;
}

/* hidden nav */

#menuClick {
    display: none;
    position: absolute;
    top: 50px;
    left: 0px;
    height: fit-content;
    width: 100%;
    background-color: var(--main-colour);
    border-radius: 0 0 var(--radius) var(--radius);
    z-index: 5;
}

#menuNav {
    height: 100%;
    width: 100%;
    padding: 23px 15px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
    gap: 15px;
}

.menu-button {
    color: var(--main-black);
}

.current-menu {
    color: var(--main-white);
}


/****** side-stuff ******/
/* side nav bar */
#page-nav {
    height: fit-content;

    grid-column-start: 1;
    grid-row-start: 2;

    background-color: var(--main-black);
    border-radius: var(--radius) 0 0 var(--radius);

    display: flex;
    justify-content: center;
    align-items: center;
}

.socialAll {
    margin: 23px 15px 23px 20px;
    padding: 0;
    list-style-type: none;
}

.page-nav-link {
    color: var(--main-colour);
    line-height: 35px;
}

.social {
    font-size: 20pt;
    margin: 0px;
    line-height: 0px;

}

/* NEW INDEX NAV */

.indexNav {
    color: var(--main-colour);
    transform: rotate(-90deg);
    position: relative;
    margin: 50px 0 43px 0;
    display: inline-block;
    align-self: center;
    text-wrap: nowrap;
}

#indexClick {
    display: none;
    position: absolute;
    top: 50px;
    left: 60px;
    height: fit-content;
    width: 165px;
    background-color: var(--hover-colour);
    border-radius:  0 var(--radius) var(--radius) 0;
    z-index: 5;
}

ul {
    height: 100%;
    width: calc(100%-20px);
    
    padding: 10px 0px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
    gap: 15px;

}

#indexNavItem {
  list-style-type: "✷";
  list-style-position: inside;
  text-indent: -1em;
  padding-left: 1em;
}

#indexChevron {
    transition: 0.1s;
}

.index-button {
    padding: 3px 0;
}


/* web title */
#website-title {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;

    grid-row-start: 3;
    background-color: var(--main-colour);
    border-radius: var(--radius) 0 0 var(--radius);
}

#name {
    font-family: "Jacquard 24", sans-serif;
    font-weight: 400;
    font-style: normal;  
    font-size: 38px; 
    white-space: nowrap; 

    position: relative;
    left: 2px;
    color: var(--main-black);
    display: inline-block;
    align-self: center;
    transform: rotate(-90deg);
    transition: color 0.2s;

    cursor: pointer;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#name:hover {
    transition: color 1s;
    color: var(--hover-colour);
}

/* flower */
#flower-button {
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: var(--radius) 0 0 var(--radius);

    grid-row-start: 5;
    background-color: var(--main-black);
}

#flower-button-img {
    position: relative;
    margin: 15px;
    top: 3px;
    width: 40px;
    height: 40px;
    border-radius: 50px;

    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;

    animation-name: flower;
    animation-duration: 55s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#flower-button-img:hover {
    filter: brightness(0) saturate(100%) invert(53%) sepia(0%) saturate(1%) hue-rotate(60deg) brightness(95%) contrast(89%);
}

button {
    padding: 0;
    border: none;
    background: none;
}

#blackBg {
    z-index: -1;
    display: none;
    position: fixed;
    background-color: var(--main-black);
    height: 100vh;
    width: 100vw;
}

/****** main stuff (content) ******/
#content-div {
    display: inline-block;
    position: relative;
    overflow: hidden;
    padding: 30px;

    grid-column: span 4 / span 4;
    grid-row: span 4 / span 4;
    grid-column-start: 2;
    grid-row-start: 2;

    background-color: var(--main-black);
}

#content {
    margin: 0;
    padding: 0;
    position: relative;
    height: 100%;
    width: 100%;
    overflow: scroll;
}

/***Projects Page Content***/
.project {
    position: relative;
    top: 0px;
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 40px;
}

.project:last-of-type {
    margin-bottom: 0px;
}

.projectText {
    z-index: 2;
    position: sticky;
    top: 0;
    
    width: 330px;
    min-width: 330px;
    height: fit-content; 
    margin: 0 40px;

    font-family: "Spline Sans Mono", sans-serif;
    color: var(--main-white);
}

.projectDate {
    margin: auto;
    margin-bottom: 5px;

    font-size: 12pt;
    font-weight: 400;
    line-height: 16px;
}

.projectTitle {
    margin: auto;
    margin-bottom: 30px;

    font-size: 25pt;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 37px;
}

.descLink {
    font-family: "Spline Sans Mono", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    text-transform: uppercase;
    color: var(--main-colour); 
    bottom: 20px;
    position: relative;

    cursor: pointer;
}

.descLink:hover {
    color: grey;
}

.projectMedium {
    font-family: "Spline Sans Mono", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    text-transform: uppercase;
    color: grey;
    position: relative; 
    bottom: 27px;

    cursor: pointer;
}

.projectDesc {
    position: relative;
    font-family: "Spline Sans Mono", sans-serif;
    margin: auto;

    font-size: 10pt;
    font-weight: 300;
    line-height: 19px;
}

.projectImages {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
    gap: 10px;

    position: relative;
    width: auto;
    height: auto;
    margin-bottom: 10px;
    flex-grow: 1;
}


.imgLayout {
    position: relative;
}

.ppPosterImg {
    flex-grow: 1;
    width: calc(33% - 10px);
}

.noiseImg {
    flex-grow: 1;
    max-width: 100%;
    max-height: 100%;
    height: auto;

}

.smallerGroup {
    display: flex;
    width: 100%;
    height: auto;
    gap: 10px;
    overflow: hidden;
    aspect-ratio: 2.13 / 1;
}

.smallerGroup img {
    height: 100%;
    width: auto;
    flex: 1 1 auto;
    object-fit: contain;
}

.smallerGroup video {
    height: 100%;
    width: auto;
    flex: 1 1 auto;
    object-fit: contain;
}


.vidNoise {
    max-width: 100%;
    max-height: 100%;
    height: auto;
}

.pavilion1 {
    display: block;
}

.pavilion2 {
    display: none;
}


/***Misc Page Content***/

#text-images {
    position: absolute;
    margin: 0;
    width: 100%;
    height: 100%;
}

.miscDesc {
    margin: 0;
    font-family: "Spline Sans Mono", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 13px;
    text-transform: uppercase;
}

.miscLink {
    font-family: "Spline Sans Mono", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    text-transform: uppercase;
    color: var(--main-colour);
}

.miscLink:hover {
    color: gray;
}

.miscGif {
    position: relative;
    margin: 0;
    max-width: 150px;
    width: 30%;
    min-width: 50px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

/***About Page Content***/


.aboutDesc {
    position: relative;
    margin: 0px;
    padding: 0px;
    max-width: 330px;
    width: 100%;

    font-family: "Spline Sans Mono", sans-serif;

    font-size: 10pt;
    font-weight: 300;
    line-height: 19px;
}

.webInfo {
    top: 20px;
    width: 200px;
    color: gray;
}

/***********************************/

@media (max-width: 1200px) {
    .project {
        flex-direction: column;
    }

    .projectText {
        position: relative;
        max-width: 400px;
        width: 100%;
        min-width: auto;
        margin: 0 0 10px 0;
        padding-right: 10px;
    }

    .projectDate {
        font-size: 10pt;
        line-height: 16px;
    }
    
    .projectTitle {
        font-size: 20pt;
        line-height: 31px;
    }
    
    .projectDesc {
        font-size: 10pt;
        line-height: 18px;
        bottom: 10px;
    }

    .pavilion1 {
        display: none;
    }

    .pavilion2 {
        display: block;
    }
}

@media (max-width: 800px) {
    .noiseSmaller {
        max-width: 100%;
    }
    .ppPosterImg {
        flex-grow: 1;
        width: calc(50% - 10px);
    }
}

@media (max-width: 500px) {
    #main-div {
        grid-template-columns: 35px auto 1fr 1fr 1fr;
        grid-template-rows: 50px auto auto 1fr auto;
   }

   .indexNav {
        margin: 50px 0 43px 10px;
    }

    #indexClick {
        left: 35px;
    
    }

    .hide {
        display: none;
    }

    .projectMedium {
        font-size: 9pt;
    }

    .projectDesc {
        font-size: 9pt;
        line-height: 16px;
    }

    #name {
        font-size: 27px;  
    }

    #website-title {
        height: 130px;
    }

    .socialAll {
        margin: 15px 15px 15px 20px;
        padding: 0;
        list-style-type: none;
    }

    .social {
        font-size: 15pt;
        margin-left: 5px;
        line-height: 0px;
    }

    #flower-button-img {
        position: relative;
        margin: 10px;
        top: 3px;
        width: 25px;
        height: 25px;
        border-radius: 50px;
    }

    .smallerGroup {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: fit-content;
        gap: 10px;
        overflow: visible;
        aspect-ratio: 1;
    }

    .smallerGroup video {
        height: 100%;
        width: 100%;
        flex:none;
        object-fit: contain;
    }
}

@media (max-width: 380px) {
    #header {
        width: fit-content;
    }

    .nav-button {
        display: none;
    }

    .small-nav {
        color: var(--main-white);
        display: block;
    }
}

@media (min-width: 381px) {
    #menuClick {
        display: none;
    }
}
